
 h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
 } 

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.question {
  font-weight: bold
}

.answers {
  font-style: italic;
  font-weight: lighter
}  
.header{
  display: flex;

}
.img-class{}
